.main {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}

.column {
  text-align: center;
}

.overviewCard {
  width: 60%;
  margin: 0 auto;
}

.overviewCardImage {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .main {
    padding: 20px 0px;
  }

  .overviewCard {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
