.quiz {
  width: 70%;
  background-color: white;
  margin-bottom: 20px;
}

.cardPicture {
  width: 50%;
  float: right;
}

.title {
  width: 100%;
  text-align: center;
}

.cardsContainer {
  text-align: center;
  min-height: 500px;
}

.cardWord {
  width: 50%;
  margin: 0 auto;
}

.cardCuneiform {
  font-size: 3rem;
}

.definitionButton {
  margin: 4px;
}

.gameDisplay {
  margin-top: 40px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .quiz {
    width: 95%;
    background-color: white;
  }

  .cardPicture {
    width: 150%;
    float: right;
  }

  .title {
    font-size: 1rem !important;
  }

  .score {
    font-size: 0.8rem !important;
  }

  .cardWord {
    width: 70%;
    margin: 0 auto;
  }
}
