@import "../../../config.scss";

.syllabary {
  width: $card-width;
  background-color: white;
  margin-bottom: 20px;
}

.syllabaryTable {
  display: block;
}

.phonetic {
}

.consonantCell {
  background-color: #fafafa !important;
}

.syllabaryMobile {
  display: none;
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 300px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .syllabary {
    width: 95%;
    background-color: white;
    margin-bottom: 20px;
  }

  .syllabaryTable {
    display: none;
  }

  .syllabaryMobile {
    display: block;
  }
}
