@import "../../config.scss";

.main {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
  background-color: $background-color;
}

.roadmap {
  width: $card-width;
  background-color: white;
}

.cardPicture {
  width: 50%;
  float: right;
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 300px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .roadmap {
    width: 95%;
    background-color: white;
  }

  .cardPicture {
    width: 150%;
    float: right;
  }
}
