@import "../../config.scss";

.main {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
  background-color: $background-color;
  text-align: center;

  img {
    width: 40%;
    margin-bottom: 30px;
  }
}

.cuneiforms {
  font-size: 2.3rem;

  span {
    margin: 0px 10px;
  }
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 300px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .main {
    img {
      width: 80%;
    }
  }

  .cuneiforms {
    font-size: 1.5rem;

    span {
      margin: 0px 10px;
    }
  }
}
