@import "../../config.scss";

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $background-color;
}

.mainMobile {
  display: none;
}

.description {
  max-width: 70%;
  padding: 50px;
}

.landingPicture {
  width: 70%;
  object-fit: cover;
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .main {
    display: none;
  }

  .mainMobile {
    height: 100vh;
    padding: 10px;
    font-size: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $background-color;
  }
}
