.main {
  position: relative;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}

.conjugator {
  width: 70%;
  background-color: white;
}

.columns {
  padding: 10px;
}

.cardPicture {
  width: 50%;
  float: right;
}

.githubCorner:hover .octoArm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .githubCorner:hover .octoArm {
    animation: none;
  }
  .githubCorner .octoArm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .cardPicture {
    width: 150%;
    float: right;
  }
}
