.main {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}

.conjugator {
  width: 70%;
  background-color: white;
}

.columns {
  padding: 10px;
}

.cardPicture {
  width: 50%;
  float: right;
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .cardPicture {
    width: 150%;
    float: right;
  }
}
