@import "../../config.scss";

/*.menu {
  position: absolute;
  top: 0px;
  right: 10vh;

  span {
    display: inline-block;
    margin: 10px 5px;
    padding: 0px 10px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #595959;
    vertical-align: middle;
    border-bottom: solid 2px $background-color;
  }

  span:hover {
    border-bottom: solid 2px #595959;
  }
}*/

.menu {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  background-color: $background-color;
  z-index: 998;
  padding: 0px 80px 0px 0px;

  ul {
    list-style: none;
    text-align: right;
    margin: 0;

    li {
      display: inline-block;
      font-size: 0.8rem;

      span {
        position: relative;
        display: block;
        padding: 10px 5px;
        text-decoration: none;
        color: #595959;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0 10px;
      }

      span,
      span:after,
      span:before {
        transition: all 0.5s;
      }

      span:hover {
        color: #262626;
      }

      span:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: ".";
        color: transparent;
        background: #262626;
        height: 2px;
      }

      span:hover:after {
        width: 100%;
      }
    }
  }
}

.menuMobile {
  width: 100%;

  ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;

    li {
      padding: 5px;

      span {
        padding: 10px 5px;
        text-decoration: none;
        color: #595959;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}

.burger {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  color: #595959;
  padding: 10px;
  font-size: 1.5rem;
  z-index: 0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .menu {
    display: none;
  }

  .menuMobile {
    display: block;
  }
}
